<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Comfirmation</title>
    <style>
        body {
            background-color: #fbfbfb;
        }
        main {
            width: 600px;
            margin: 0 auto;
            background: #fff;
            padding: 28px;
            border: 1px solid #eee;
            color: #4a4a4a;
        }
        .head-order {
            text-align: center;
        }
        .body-order > p {
            text-align: center;
        }
        .password {
            color: #2672ec;
            font-size: 26px;
            text-align: revert;
        }
        .table-order {
            text-align: center;
            font-size: 13px;
        }
        .table-order > p {
            font-size: 14px;
        }
        .footer {
            text-align: center;
            margin-top: 35px;
        }
        @media screen and (max-width: 480px) {
            main {
                width: 95%;
                padding: 12px;
            }
            .order-body {
                padding-left: 5px;
            }
            .table-order {
                font-size: 12px;
            }
        }
    </style>
</head>
<body>
<main>
    <section class="head-order">
        <h3>🙌 Selected account 🙌</h3>
    </section>
    <hr />
    <section class="body-order">
        <p class="password">Forgot Your Password? </p>
        <div class="table-order">
            <p>
                That’s Okay. Let’s get you a new one with the below code.
            </p>
            <p style="font-size: 35px;margin: 16px;">
                {{ verificationCode }}
            </p>
        </div>
    </section>
    <section class="footer">
        <p>
            Thanks,
            The <b>Selected</b> account team
        </p>
    </section>
</main>
</body>
</html>
